:root {
  --title-font-size: 3.5rem;
  --title-font-weight: 700;
  --accent-color1: #81e5da;
  --accent-color2: #fb4964;
  --text-color:#a6adb8;
  --title-color:#d8d8d8;
  --background-color: #09192c;
  --text-accent: var(--title-color);
  /* possible accent colours e7324d F06449 FF4D5A*/
  /* possible text colours EDE6E3 */
}

body, html {
  font-size: 62.5%;
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--background-color);
  font-family: 'Manrope', sans-serif;
  letter-spacing: 1.4px;
  color: var(--text-color);
  font-weight: 400;
  scroll-behavior: smooth;
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
  overflow-y: scroll;
}

body::-webkit-scrollbar {
  display: none;
}

code {
  font-family: 'Manrope', sans-serif;
}
